<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ServerNodes>
    <Node>
        <location>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9001</port>
            <nrRelations>3</nrRelations>
        </location>
        <name>A</name>
        <multicastAddres>224.10.10.5</multicastAddres>
        <multicastPort>10105</multicastPort>
        <relation>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9002</port>
            <nrRelations>2</nrRelations>
        </relation>
        <relation>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9004</port>
            <nrRelations>1</nrRelations>
        </relation>
        <relation>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9005</port>
            <nrRelations>1</nrRelations>
        </relation>
        <employees>
            <departament>Povesti</departament>
            <firstname>Laur</firstname>
            <lastName>Balaur</lastName>
            <salary>501.0</salary>
        </employees>
        <employees>
            <departament>Basme</departament>
            <firstname>Fat</firstname>
            <lastName>Frumos</lastName>
            <salary>502.0</salary>
        </employees>
    </Node>
    <Node>
        <location>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9002</port>
            <nrRelations>2</nrRelations>
        </location>
        <name>B</name>
        <multicastAddres>224.10.10.5</multicastAddres>
        <multicastPort>10105</multicastPort>
        <relation>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9001</port>
            <nrRelations>3</nrRelations>
        </relation>
        <relation>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9003</port>
            <nrRelations>1</nrRelations>
        </relation>
        <employees>
            <departament>Basme</departament>
            <firstname>Ileana</firstname>
            <lastName>Consinzeana</lastName>
            <salary>503.0</salary>
        </employees>
        <employees>
            <departament>Basme</departament>
            <firstname>Danila</firstname>
            <lastName>Prepeleac</lastName>
            <salary>304.0</salary>
        </employees>
        <employees>
            <departament>Povesti</departament>
            <firstname>Ivan</firstname>
            <lastName>Turbinca</lastName>
            <salary>505.0</salary>
        </employees>
    </Node>
    <Node>
        <location>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9003</port>
            <nrRelations>1</nrRelations>
        </location>
        <name>C</name>
        <multicastAddres>224.10.10.5</multicastAddres>
        <multicastPort>10105</multicastPort>
        <relation>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9002</port>
            <nrRelations>2</nrRelations>
        </relation>
        <employees>
            <departament>Basme</departament>
            <firstname>Ion</firstname>
            <lastName>Macovei</lastName>
            <salary>503.0</salary>
        </employees>
    </Node>
    <Node>
        <location>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9004</port>
            <nrRelations>1</nrRelations>
        </location>
        <name>D</name>
        <multicastAddres>224.10.10.5</multicastAddres>
        <multicastPort>10105</multicastPort>
        <relation>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9001</port>
            <nrRelations>3</nrRelations>
        </relation>
        <employees>
            <departament>Basme</departament>
            <firstname>Vasea</firstname>
            <lastName>vasea</lastName>
            <salary>503.0</salary>
        </employees>
    </Node>
    <Node>
        <location>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9005</port>
            <nrRelations>1</nrRelations>
        </location>
        <name>E</name>
        <multicastAddres>224.10.10.5</multicastAddres>
        <multicastPort>10105</multicastPort>
        <relation>
            <ipAddres>127.0.0.1</ipAddres>
            <port>9001</port>
            <nrRelations>3</nrRelations>
        </relation>
        <employees>
            <departament>Basme</departament>
            <firstname>Iron</firstname>
            <lastName>Men</lastName>
            <salary>503.0</salary>
        </employees>
    </Node>
</ServerNodes>
